h1 {
    text-align: center;
    padding: 2%;
    color: #555755;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #555755;
    font-family: 'Times New Roman', Times, serif;
}

p { color: #555755;
    font-family: 'Times New Roman', Times, serif;
}
body{background-color: ivory;}



