h1 {
    color: #6a329f;
    text-align: center;
}

body {
    background: #ead1dc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}

@media (max-width:450px) {

    nav, footer {
        margin: 450px;
    }





}