h1 {
    text-align: center;
    padding: 2%;
    color: #555755;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #555755;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: #555755;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: ivory;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 30%;
    height: 2%;
}

ul {
    color: #555755;
    text-align: left;
}

h5 {
    color: #555755;
}

a {
    color: #555755;
}

ol {
    text-align: center;
}